<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>VocabTrainer</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> 
    <link href="{{=URL('static', 'css/styles2.css')}}" rel="stylesheet">
    <!-- All JavaScript at the bottom, except for Modernizr which enables
         HTML5 elements & feature detects -->
    <script src="{{=URL('static','js/modernizr-2.8.3.min.js')}}"></script>

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand"  href="qq">VocabTrainer</a>
            </div>
            <!-- Top Menu Items -->
    
            
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="{{=URL('index')}}"><i class="glyphicon glyphicon-home"></i> Home </a>
                    </li>
                     <li>
                       <a href="#" data-toggle="collapse" data-target="#demo"><i class="glyphicon glyphicon-home"></i> Learn <i class="caret"></i></a>
                        <ul id="demo" class="collapse">
                            <li>
                                <a href="{{=URL('list_easy_words')}}">Easy Words</a>
                            </li>
                            <li>
                                <a href="{{=URL('list_moderate_words')}}">Moderate Words</a>
                            </li>
                            <li>
                                <a href="{{=URL('list_difficult_words')}}">Difficult Words</a>
                            </li>
                            
                        </ul>
                    </li>
                    <li>
                        <a href="{{=URL('start_test')}}">Take Test?</a>
                    </li>
                    <li>
<a href="{{=URL('deck_page')}}">DECK PAGE</a>
                        
                    </li>
                    
                    <li>
                        <a href="{{=URL('list_posts')}}">FORUM </a>
                    </li>
                   
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">
            <div class="container-fluid">
                  <table class = "table table-bordered">
                      <thead>
                          <tr>
                            <th>Words</th>
                            <th>Meaning</th>
                          </tr>
                      </thead>
                      <tbody>
                       {{for row in rows:}}
                          <tr>
                              <td>{{=row.word}}</td>
                              <td>{{=row.meaning}}</td>
                          </tr>
                        {{pass}}
                      </tbody>
                </table>
             </div>
        </div>
        <!-- /#page-wrapper -->

    </div>
    
    <!-- script references -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
<script src="{{=URL('static','js/web2py-bootstrap3.js')}}"></script>
<script src="{{=URL('static','js/analytics.min.js')}}"></script>
    <script type="text/javascript">
      analytics.initialize({
      'Google Analytics':{trackingId:'{{=response.google_analytics_id}}'}
      });
</script>
</body>

</html>
